.container {
  width: 30%;
  height: 600px;
  align-self: center;
  margin: auto;
  border: 2px solid purple;
}
.head {
  text-align: center;
}
#card_image .img {
  width: 100%;
}
.container #card_icons {
  display: flex;
}
.container #card_icons .icon {
  margin-left: 60px;
  color: gray;
}
.container #card_content {
  margin-left: 20px;
}
.container #card_content .txt {
  color: gray;
}
.container #card_content .txt .txt-font {
  color: black;
  margin-left: 50px;
}
