#line3,
#line4,
#line5 {
  display: flex;
  flex-wrap: wrap;
}
#line3 img {
  width: 30%;
  margin: 1.66%;
}
#line4 img {
  width: 22%;
  margin: 1.5%;
}

#line5 img {
  width: 16%;
  margin: 1.22%;
}
p {
  text-transform: lowercase;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 5px solid #c2d862;
  padding-bottom: 20px;
  width: 16%;
  margin: 1.22%;
}
